<app-header></app-header>
<app-sidebar-agent [active]="'dashboard'"></app-sidebar-agent>

<div class="content-wrapper" *ngIf="role == 'agent'">
  <div class="mt-1">
    <div class="d-flex flex-column align-items-start">
      <h5 class="fw-bold pe-3">لوحة التحكم</h5>
      <h5 class="text-end text-muted fw-bold fs-6 pe-3">
        لوحة التحكم-الإحصائيات
      </h5>
    </div>
    <section class="control-panel">
      <div
        class="filters d-flex flex-column flex-md-row align-items-start align-items-md-center"
      >
        <div class="filtername"><i class="fas fa-bars"></i>لوحة التحكم</div>
        <select class="form-select me-md-2 mb-2 mb-md-0">
          <option>عدد الطلبات</option>
        </select>
        <select class="form-select me-md-2 mb-2 mb-md-0">
          <option>تاريخ الانضمام</option>
        </select>
        <select class="form-select me-md-2 mb-2 mb-md-0">
          <option>الفعالة</option>
        </select>
        <button
          class="btn btn-primary apply-button me-md-2 mb-2 mb-md-0 text-dark"
        >
          اتصال
        </button>
      </div>
      <div
        class="d-flex justify-content-end flex-wrap align-items-start align-items-md-center mt-3 mt-md-0"
      >
        <button
          type="button"
          class="btn btn-dark me-md-2 mb-2 mb-md-0"
          style="background-color: rgb(17, 212, 189); border: none"
          data-bs-toggle="modal"
          data-bs-target="#customModal"
        >
          <i class="fas fa-sliders-h"></i> تخصيص
        </button>
        <button
          type="button"
          class="btn btn-danger me-md-2 mb-2 mb-md-0"
          style="background-color: #363861; border: none"
        >
          <i class="fas fa-upload fa-1x mb-2"></i> تصدير البيانات
        </button>
      </div>
    </section>
    <div class="container-fluid">
      <div class="container-fluid pe-4 mt-5">
        <div class="row">
          <div class="col-md-3">
            <div class="card card-custom pe-1">
              <div
                class="card-body d-flex align-items-center justify-content-between"
              >
                <div>
                  <h6 class="mt-3">سناب شات</h6>
                  <div class="stat">2000 زائر</div>
                </div>
                <div class="iconplatform">
                  <i
                    class="fab fa-snapchat align-items-end"
                    style="color: #fffc00; font-size: 2em"
                  ></i>
                </div>
              </div>
              <div class="card-footer text-center percentage text-success mt-2">
                <p class="text-dark" style="font-size: 16px">
                  <i class="fa-solid fa-arrow-trend-up"></i> ارتفاع الزوار
                  بنسبة<span class="text-green mr-5">1.8%</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-custom pe-1">
              <div
                class="card-body d-flex align-items-center justify-content-between"
              >
                <div>
                  <h6 class="mt-3">تيك توك</h6>
                  <div class="stat">5200 زائر</div>
                </div>
                <div class="iconplatform">
                  <i
                    class="fab fa-tiktok icon"
                    style="color: #000000; font-size: 2em"
                  ></i>
                </div>
              </div>
              <div class="card-footer text-center percentage text-danger mt-2">
                <p class="text-dark" style="font-size: 16px">
                  <i class="fa-solid fa-arrow-trend-down"></i> انخفاض عدد الزوار
                  بنسبة<span class="text-red mr-5">1.8%</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-custom pe-1">
              <div
                class="card-body d-flex align-items-center justify-content-between"
              >
                <div>
                  <h6 class="mt-3">إنستغرام</h6>
                  <div class="stat">2700 زائر</div>
                </div>
                <div class="iconplatform">
                  <i class="fab fa-instagram icon" style="color: #e1306c"></i>
                </div>
              </div>
              <div class="card-footer text-center percentage text-success mt-2">
                <p class="text-dark" style="font-size: 16px">
                  <i class="fa-solid fa-arrow-trend-up"></i> ارتفاع الزوار
                  بنسبة<span class="text-green mr-5">1.8%</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-custom pe-1">
              <div
                class="card-body d-flex align-items-center justify-content-between"
              >
                <div>
                  <h6 class="mt-3">فيس بوك</h6>
                  <div class="stat">1000 زائر</div>
                </div>
                <div class="iconplatform">
                  <i class="fab fa-facebook icon" style="color: #1877f2"></i>
                </div>
              </div>
              <div class="card-footer text-center percentage text-success mt-2">
                <p class="text-dark" style="font-size: 16px">
                  <i class="fa-solid fa-arrow-trend-up"></i> ارتفاع الزوار
                  بنسبة<span class="text-green mr-5">1.8%</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid my-4">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">إحصائيات الحملات الإعلانية</h5>
              <div
                class="d-flex justify-content-center align-items-center"
                style="height: 300px"
              >
                <div class="chart-container" style="width: 100%; height: 100%">
                  <canvas
                    id="adCampaignChart"
                    style="width: 100%; height: 100%"
                  ></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">نسبة الزوار</h5>
              <div class="chart-container" style="height: 300px">
                <canvas id="visitorsChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-md-6">
          <div class="card" style="height: 350px">
            <div class="card-body">
              <h5 class="card-title mb-3">إحصائيات المنصات</h5>
              <div class="chart-container">
                <table class="table text-muted text-center">
                  <thead class="table-light">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">الإسم</th>
                      <th scope="col">المنصة</th>
                      <th scope="col">عدد المبيعات</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>01</td>
                      <td>الإسم</td>
                      <td>فيس بوك</td>
                      <td>140</td>
                    </tr>
                    <tr>
                      <td>02</td>
                      <td>الإسم</td>
                      <td>تيك توك</td>
                      <td>124</td>
                    </tr>
                    <tr>
                      <td>03</td>
                      <td>الإسم</td>
                      <td>سناب شات</td>
                      <td>120</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card" style="height: 350px">
            <div class="card-body">
              <h5 class="card-title">إحصائيات العملاء</h5>
              <div class="chart-container">
                <canvas id="customerStatsChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="customModal"
    tabindex="-1"
    aria-labelledby="customModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content1">
        <div class="modal-header">
          <h5 class="modal-title" id="customModalLabel">
            تخصيص صفحة الحملات الإعلانية
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="settings" />
            <label class="form-check-label" for="settings"> اعدادات </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="details" />
            <label class="form-check-label" for="details"> التفاصيل </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="campaignDate"
              checked
            />
            <label class="form-check-label" for="campaignDate">
              تاريخ الحملة
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="profits"
              checked
            />
            <label class="form-check-label" for="profits"> الأرباح </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="platform" />
            <label class="form-check-label" for="platform"> المنصة </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="operations"
              checked
            />
            <label class="form-check-label" for="operations"> العمليات </label>
          </div>
          <!-- إضافة الأزرار الأخرى هنا كـ checkbox -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="cost" />
            <label class="form-check-label" for="cost"> Cost </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="revenue" />
            <label class="form-check-label" for="revenue"> Revenue </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="profit" />
            <label class="form-check-label" for="profit"> Profit </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="cta" />
            <label class="form-check-label" for="cta"> CTA </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="cpc" />
            <label class="form-check-label" for="cpc"> CPC </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="cpl" />
            <label class="form-check-label" for="cpl"> CPL </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="purchase" />
            <label class="form-check-label" for="purchase"> Purchase </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="views" />
            <label class="form-check-label" for="views"> Views </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="logo" />
            <label class="form-check-label" for="logo"> Logo </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="orders" />
            <label class="form-check-label" for="orders"> Orders </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="sexe" />
            <label class="form-check-label" for="sexe"> Sexe </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="adresse" />
            <label class="form-check-label" for="adresse"> Adresse </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="zone" />
            <label class="form-check-label" for="zone"> Zone </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="data1" />
            <label class="form-check-label" for="data1"> بيانات 1 </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="data2" />
            <label class="form-check-label" for="data2"> بيانات 2 </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="data3" />
            <label class="form-check-label" for="data3"> بيانات 3 </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="data4" />
            <label class="form-check-label" for="data4"> بيانات 4 </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-success">حفظ</button>
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
            إلغاء
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
