<nav class="sidebar overflow">
  <header>
      <div class="image-text">
          <!-- <a >
              <img class="closeimge logoimg" src="assets/images/logo.png"></a> -->
      </div>
      <!-- <i class="bx bx-chevron-left toggle"></i> -->
  </header>

  <div class="menu-bar">
      <div class="menu">
          <ul class="menu-links px-0">
              <div class="logoimg">
                  <a routerLink="/dashboard">
                    <img class="logo" src="assets/images/logo.png" alt="logo" /></a>
              </div>

              <li class="nav-link mb-1 " [ngClass]="{'currentpage': active === 'dashboard'}">
                  <a routerLink="/dashboard">
                      <i class="bx bx-pie-chart-alt icons"></i>
                      <span class="text nav-text fw-bold">لوحة التحكم</span>
                  </a>
              </li>
              <li class="nav-link mb-1 ">
                  <a routerLink="/agencies" [ngClass]="{'currentpage': active === 'agencies' || active === 'agents'}">
                      <i class="fa-solid fa-user-gear  icons"></i>
                      <span class="text nav-text fw-bold">إدارة الوكالات</span>
                  </a>
              </li>

              <li class="nav-link mb-1 ">
                <a routerLink="/admins" [ngClass]="{'currentpage': active === 'admins'}">
                    <i class="fa-solid fa-users  icons"></i>
                    <span class="text nav-text fw-bold">إدارة المدراء</span>
                </a>
            </li>

              <li class="nav-link mb-1" [ngClass]="{'currentpage': active === 'notification'}">
                  <a  routerLink="/notifications">
                      <i class="bx bx-bell icons"></i>
                      <span class="text nav-text fw-bold">الإشعارات</span>
                  </a>
              </li>
              <li class="nav-link mb-1 " [ngClass]="{'currentpage': active === 'rapport'}">
                  <a routerLink="/rapport">
                      <i class="bx bx-bar-chart-alt-2 icons"></i>
                      <span class="text nav-text fw-bold">التقارير</span>
                  </a>
              </li>

          </ul>
      </div>

      <div class="bottom-content">
          <li class="nav-link " [ngClass]="{'currentpage': active === 'profile'}">
              <a routerLink="/profile">
                  <i class="bx bx-cog icons"></i>
                  <span class="text nav-text fw-bold">الإعدادات</span>
              </a>
          </li>
          <li class="nav-link">
              <a  (click)="logout()">
                  <i class="bx bx-log-out icons"></i>
                  <span class="text nav-text fw-bold">تسجيل الخروج</span>
              </a>
          </li>
      </div>
  </div>
</nav>
