.content-wrapper {
  /*background-image: url('/assets/pic/image5.png');*/
  background-image: url('/assets/pic/image5.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
