<nav class="navbar navbar-expand-lg navbar-light  mx-0 w-100 navbar-home">
    <a class="navbar-brand" >
      <img src="../../../assets/images/logo.png" alt="Logo" style="width: 100px;">
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#home">الرئيسية <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#packs">باقتنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">خدماتنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#partners">شركائنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">من نحن</a>
        </li>
        <!-- <li class="nav-item">
      <a class="nav-link " href="#contact">تواصل معنا</a>
    </li> -->
      </ul>
      <!-- <a class="btn login-button nav-link" > -->
        <a class="btn loginbt border-5" routerLink="/login">تسجيل الدخول 
              <div class="vector-container">
                <img src="../../../assets/landing-page/Vector-login.svg" alt="">
              </div>
             </a>
          <!-- </a> -->
    </div>
  </nav>
<div class="who-we-are screen " data-id="1738:8710" style="margin-top: -7rem;z-index: -2;"><img class="ellipse-41-lzqodA"
        data-id="1738:8711"
        src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/ellipse-41.svg"
        anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/ellipse-41.svg"
        alt="Ellipse 41"><img class="ellipse-42-lzqodA" data-id="1738:8712"
        src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/ellipse-42.svg"
        anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/ellipse-42.svg"
        alt="Ellipse 42">
    <div class="frame-1000000967-lzqodA" data-id="1738:8713"><img class="facebook-LtMRT7 facebook" data-id="1738:8714"
            src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/facebook-1@2x.png"
            anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/facebook-1@2x.png"
            alt="Facebook"><img class="image-LtMRT7" data-id="1738:8715"
            src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/image-2@2x.png"
            anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/image-2@2x.png"
            alt="image"><img class="image-h58xRY" data-id="1738:8716"
            src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/image-1.png"
            anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/image-1.png"
            alt="image"><img class="image-oxJmpO" data-id="1738:8717"
            src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/image.png"
            anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/image.png"
            alt="image"><img class="facebook-h58xRY facebook" data-id="1738:8718"
            src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/facebook.png"
            anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/facebook.png"
            alt="Facebook"></div>
    <div class="group-1000002793-lzqodA" data-id="1738:8719">
        <div class="frame-1000002797-VPqq2J" data-id="1738:8720">
            <h1 class="text_label-z2l3wZ text_label noor-bold-fun-blue-48px" data-id="1738:8721">من نحن ؟</h1>
            <p class="advert-z2l3wZ advert" data-id="1738:8722"><span class="span0-7Ve7Tx">&rlm;</span><span
                    class="span1-7Ve7Tx">Advert</span><span class="span2-7Ve7Tx"> هي منصة متخصصة في تحليل الإعلانات
                    وتقديم تقارير فورية، اسبوعية، شهرية وسنوية. نساعد الشركات والمؤسسات على تحسين قرأة أداء إعلاناتهم
                    وتقليل الهدر المالي من ميزانياتهم التسويقية.</span></p>
            <div class="button-z2l3wZ button" data-id="1738:8723"><img class="arrow-SpZYkV arrow"
                    data-id="I1738:8723;1547:1768"
                    src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/arrow-1.svg"
                    anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/arrow-1.svg"
                    alt="arrow">
                <div class="sign-in-SpZYkV sign-in noor-bold-white-18px" data-id="I1738:8723;1547:1770">إطلع على خدماتنا
                </div>
            </div>
        </div>
        <div class="rectangle-905-VPqq2J" data-id="1738:8724"></div><img class="rectangle-863-VPqq2J"
            data-id="1738:8725"
            src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/rectangle-863.svg"
            anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/rectangle-863.svg"
            alt="Rectangle 863">
    </div>
    <div class="frame-1000002886-lzqodA" data-id="1738:8726">
        <div class="group-1000002794-RS2k2v" data-id="1738:8727">
            <div class="group-1000002795-AjOtGy" data-id="1738:8728">
                <div class="x-5KfHxl x noor-bold-fun-blue-48px" data-id="1738:8729">رؤيتنا :</div>
                <p class="x-nYxaic x noor-light-black-24px" data-id="1738:8730">خلق سوق إعلانات يتمتع بالشفافية
                    والمصداقية، حيث يكون لدى المعلنين والناشرين القدرة على فهم تفاصيل حملاتهم بشكل دقيق وواضح، مما يعزز
                    الثقة ويزيد من الفعالية الاقتصادية لمجال التسويق والإعلانات.</p>
            </div>
        </div>
        <div class="group-1000002811-RS2k2v" data-id="1738:8731"><img class="image-MCAjGh" data-id="1738:8732"
                src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/image-3.svg"
                anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/image-3.svg"
                alt="image">
            <div class="frame-1000002810-MCAjGh" data-id="1738:8733">
                <div class="x-uEH2ui x noor-bold-fun-blue-48px" data-id="1738:8734">قيمنا :</div>
                <div class="frame-1000002813-uEH2ui" data-id="1738:8735">
                    <div class="frame-1000002807-e1GZA1" data-id="1738:8736">
                        <div class="group-1000002835-N8x3lR" data-id="1738:8737">
                            <div class="ellipse-50" data-id="1738:8738"></div>
                            <div class="x5-I4JUwY noor-bold-white-64px" data-id="1738:8739">5</div>
                        </div>
                        <div class="text_label-N8x3lR text_label noor-bold-fun-blue-32px" data-id="1738:8740">الشفافية
                        </div>
                        <p class="text_label-kYq9qi text_label noor-regular-normal-black-20px" data-id="1738:8741"> نقدم
                            لعملائنا تقارير شفافة ودقيقة عن أداء إعلاناتهم</p>
                    </div>
                    <div class="frame-1000002806-e1GZA1" data-id="1738:8742">
                        <div class="group-1000002834-F69Ps0" data-id="1738:8743">
                            <div class="ellipse-50" data-id="1738:8744"></div>
                            <div class="x4-Jc6OLB noor-bold-white-64px" data-id="1738:8745">4</div>
                        </div>
                        <div class="text_label-F69Ps0 text_label noor-bold-fun-blue-32px" data-id="1738:8746">البيانات
                        </div>
                        <p class="text_label-JnrXKL text_label noor-regular-normal-black-20px" data-id="1738:8747">نؤمن
                            بقوة البيانات في تحسين عملية صنع القرار</p>
                    </div>
                    <div class="frame-1000002804-e1GZA1" data-id="1738:8748">
                        <div class="group-1000002836-hqz1Sb" data-id="1738:8749">
                            <div class="ellipse-50" data-id="1738:8750"></div>
                            <div class="x3-v92ybA noor-bold-white-64px" data-id="1738:8751">3</div>
                        </div>
                        <div class="text_label-hqz1Sb text_label noor-bold-fun-blue-32px" data-id="1738:8752">الابتكار
                        </div>
                        <p class="text_label-LRElYn text_label noor-regular-normal-black-20px" data-id="1738:8753"> نسعى
                            جاهدين لتطوير حلول تحليلية مبتكرة تلبي احتياجات عملائنا</p>
                    </div>
                    <div class="frame-1000002805-e1GZA1" data-id="1738:8754">
                        <div class="group-1000002837-BC6Rfm" data-id="1738:8755">
                            <div class="ellipse-50" data-id="1738:8756"></div>
                            <div class="x2-bX1jwc noor-bold-white-64px" data-id="1738:8757">2</div>
                        </div>
                        <div class="text_label-BC6Rfm text_label noor-bold-fun-blue-32px" data-id="1738:8758">عملائنا
                        </div>
                        <p class="text_label-AigQ5N text_label noor-regular-normal-black-20px" data-id="1738:8759">نضع
                            احتياجات عملائنا على رأس أولوياتنا</p>
                    </div>
                    <div class="frame-1000002803-e1GZA1" data-id="1738:8760">
                        <div class="group-1000002838-FUDwbL" data-id="1738:8761">
                            <div class="ellipse-50" data-id="1738:8762"></div>
                            <div class="x1-KHrigD noor-bold-white-64px" data-id="1738:8763">1</div>
                        </div>
                        <div class="text_label-FUDwbL text_label noor-bold-fun-blue-32px" data-id="1738:8764">الفعالية
                        </div>
                        <p class="text_label-qFbHtt text_label noor-regular-normal-black-20px" data-id="1738:8765">نساعد
                            عملائنا على تحقيق أهدافهم التسويقية بكفاءة</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-1000002808-RS2k2v" data-id="1738:8766">
            <div class="x-PcLBzx x noor-bold-fun-blue-48px" data-id="1738:8767">رسالتنا :</div>
            <p class="x-6Lrvxg x noor-light-black-24px" data-id="1738:8768">نسعى إلى بناء سوق إعلانات شفاف وعادل يتيح
                لجميع الأطراف المعنية رؤية واضحة وفهم دقيق لتفاصيل وأداء الحملات الإعلانية، مما يعزز الثقة والفعالية
                الاقتصادية في مجال التسويق والإعلانات. أهدافنا:</p>
            <div class="frame-1000002815-PcLBzx" data-id="1738:8769">
                <p class="x-U05gyz x noor-bold-white-24px" data-id="1738:8770"><span
                        class="span0-BjeGXx noor-bold-white-24px">تعزيز الشفافية</span><span
                        class="span1-BjeGXx noor-regular-normal-white-24px">: توفير تقارير دقيقة ومفصلة عن الأداء
                        والإنفاق على الحملات الإعلانية الرقمية.</span></p>
            </div><img class="vector-193-PcLBzx" data-id="1738:8771"
                src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/vector-193.svg"
                anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/vector-193.svg"
                alt="Vector 193"><img class="vector-195-PcLBzx" data-id="1738:8772"
                src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/vector-195.svg"
                anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/vector-195.svg"
                alt="Vector 195"><img class="vector-194-PcLBzx" data-id="1738:8773"
                src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/vector-194.svg"
                anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/vector-194.svg"
                alt="Vector 194">
            <div class="frame-1000002817-PcLBzx" data-id="1738:8774">
                <p class="x-8lAPK6 x noor-bold-white-24px" data-id="1738:8775"><span
                        class="span0-WNaxd2 noor-bold-white-24px">تحسين الكفاءة والإنتاجية: </span><span
                        class="span1-WNaxd2 noor-regular-normal-white-24px">توفير أدوات تحليلية وتكنولوجيا متقدمة لزيادة
                        فعالية الإعلانات وتقليل الهدر.</span></p>
            </div>
            <div class="frame-1000002816-PcLBzx" data-id="1738:8776">
                <p class="x-qJfoD4 x noor-bold-white-24px" data-id="1738:8777"><span
                        class="span0-J4ovCT noor-bold-white-24px">زيـــــــادة الثقة بين الأطراف المعنية: </span><span
                        class="span1-J4ovCT noor-regular-normal-white-24px">بناء بيئة تفاعلية ومفتوحة بين المعلنين
                        والناشرين والجمهور.</span></p>
            </div>
        </div>
        <div class="frame-1000002809-RS2k2v" data-id="1738:8778">
            <div class="x-mxI10O x noor-bold-fun-blue-48px" data-id="1738:8779">شركائنا :</div>
            <p class="advert-mxI10O advert noor-light-black-24px" data-id="1738:8780"><span
                    class="span0-Uz6c41 noor-light-black-24px">وجود قوي على وسائل التواصل الاجتماعي أمراً حيوياً لنجاح
                    الأعمال. في </span><span class="span1-Uz6c41">Advert</span><span
                    class="span2-Uz6c41 noor-light-black-24px">، نتخصص في إدارة حسابات وسائل التواصل الاجتماعي
                    للشركات</span></p><img class="frame-1000002754-mxI10O" data-id="1738:8781"
                src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/frame-1000002754.svg"
                anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/frame-1000002754.svg"
                alt="Frame 1000002754"><img class="frame-1000002755-mxI10O" data-id="1738:8830"
                src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/frame-1000002755.svg"
                anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/frame-1000002755.svg"
                alt="Frame 1000002755">
            <div class="button-mxI10O button" data-id="1738:8882"><img class="arrow" data-id="I1738:8882;1547:1768"
                    src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/arrow-3.svg"
                    anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/arrow-3.svg"
                    alt="arrow">
                <p class="sign-in noor-bold-white-18px" data-id="I1738:8882;1547:1770">تسجل الآن و أصبح شريكا لنا</p>
            </div>
        </div>
        <div class="reviews-RS2k2v" data-id="1738:8883">
            <div class="rectangle-906-KFJEad" data-id="1738:8884"></div>
            <div class="x-KFJEad x" data-id="1738:8885">آراء عملائـــــــــنا :</div>
            <p class="x-v4MrQQ x" data-id="1738:8886">الحصول على الألم من نفسه ، لأنه ألم ، ولكن في بعض الأحيان تحدث
                ظروف يمكن أن يجلب له فيها الكدح والألم بعض المتعة الكبيرة. لنأخذ مثالا تافها ، أي منا يقوم بتمارين بدنية
                شاقة ، إلا للحصول على بعض المزايا منها؟</p>
            <div class="frame-1000002758-KFJEad" data-id="1738:8887">
                <div class="group-1000002789-4C15Pl" data-id="1738:8888"><img class="card-HnsNUp card"
                        data-id="1738:8889"
                        src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/card.svg"
                        anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/card.svg"
                        alt="Card">
                    <div class="group-1000002787-HnsNUp" data-id="1738:8892">
                        <div class="text_label-MAgyQK text_label noor-bold-black-18px" data-id="1738:8893">إبراهيم</div>
                        <p class="advert-MAgyQK advert noor-light-black-16px" data-id="1738:8894">وجود قوي على وسائل
                            التواصل الاجتماعي أمراً حيوياً لنجاح الأعمال. في Advert، نتخصص في إدارة حسابات وسائل التواصل
                            الاجتماعي للشركات</p><img class="group-1000000961" data-id="1738:8895"
                            src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/group-1000000961-1@2x.png"
                            anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/group-1000000961-1@2x.png"
                            alt="Group 1000000961">
                    </div>
                </div>
                <div class="group-1000002787-4C15Pl" data-id="1738:8901"><img class="card-xUKZFl card"
                        data-id="1738:8902"
                        src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/card-1.svg"
                        anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/card-1.svg"
                        alt="Card">
                    <div class="group-1000002787-xUKZFl" data-id="1738:8905">
                        <div class="text_label-K81Mo9 text_label noor-bold-black-18px" data-id="1738:8906">عبد الصمد
                        </div>
                        <p class="advert-K81Mo9 advert noor-light-black-16px" data-id="1738:8907">وجود قوي على وسائل
                            التواصل الاجتماعي أمراً حيوياً لنجاح الأعمال. في Advert، نتخصص في إدارة حسابات وسائل التواصل
                            الاجتماعي للشركات</p><img class="group-1000000961" data-id="1738:8908"
                            src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/group-1000000961@2x.png"
                            anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/group-1000000961@2x.png"
                            alt="Group 1000000961">
                    </div>
                </div>
                <div class="group-1000002788-4C15Pl" data-id="1738:8914"><img class="card-UDq9i7 card"
                        data-id="1738:8915"
                        src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/card.svg"
                        anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/card.svg"
                        alt="Card">
                    <div class="group-1000002787-UDq9i7" data-id="1738:8918">
                        <div class="text_label-28yRip text_label noor-bold-black-18px" data-id="1738:8919">أسامه</div>
                        <p class="advert-28yRip advert noor-light-black-16px" data-id="1738:8920">وجود قوي على وسائل
                            التواصل الاجتماعي أمراً حيوياً لنجاح الأعمال. في Advert، نتخصص في إدارة حسابات وسائل التواصل
                            الاجتماعي للشركات</p><img class="group-1000000961" data-id="1738:8921"
                            src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/group-1000000961-1@2x.png"
                            anima-src="https://cdn.animaapp.com/projects/67685a82a53d8261bdd93f81/releases/67685ae0ed3772c7a398f9a7/img/group-1000000961-1@2x.png"
                            alt="Group 1000000961">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
</div>
<footer
class="d-flex flex-column flex-lg-row justify-content-between align-items-center py-3 my-4 border-top footer text-center text-lg-left">
<div class="col-md-4 d-flex flex-column align-items-center align-items-lg-start order-2 order-lg-1">
  <div class="d-flex justify-content-center align-self-center mt-2 social-icons">
    <a  class="me-3"><i class="fab fa-facebook-f"></i></a>
    <a  class="me-3"><i class="fab fa-instagram"></i></a>
    <a  class="me-3"><i class="fab fa-x-twitter"></i></a>
    <a  class="me-3"><i class="fab fa-pinterest"></i></a>
  </div>
</div>

<ul class="nav col-md-4 justify-content-center mb-3 mb-md-0 order-3 order-lg-2">
  <li class="nav-item"><a  class="nav-link px-2 text-muted " routerLink="/home">الرئيسية</a></li>
  <li class="nav-item"><a  class="nav-link px-2 text-muted " routerLink="/about">من نحن</a></li>
  <li class="nav-item"><a  class="nav-link px-2 text-muted ">خدماتنا</a></li>
  <li class="nav-item"><a  class="nav-link px-2 text-muted ">شركائنا</a></li>
  <li class="nav-item"><a  class="nav-link px-2 text-muted ">باقتنا</a></li>
  <li class="nav-item"><a  class="nav-link px-2 text-muted ">تواصل معنا</a></li>
  <p class="mb-0 ">© كل الحقوق محفوظة لموقع Advert</p>

</ul>

<div class="col-md-4 d-flex flex-column align-items-center align-items-lg-end order-1 order-lg-3 mb-3 mb-lg-0">
  <a href="/" class="d-flex align-items-center mb-3 me-md-auto text-dark text-decoration-none">
    <img src="../../../assets/images/logo.png" alt="Logo" style="width: 100px;">
  </a>
</div>
</footer>