.content-wrapper {
    background-image: url('/assets/pic/image4-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .card-body{
    overflow: scroll;
  }

  .percentage3{
    font-size: 4em ;
  }

  .card1{
    height: 300px;
  }
