<!-- src/app/components/snapchat-ads/snapchat-ads.component.html -->
<div *ngIf="adsData">
    <h2>Snapchat Ads Data</h2>
    <pre>{{ adsData | json }}</pre>
  </div>
  <div *ngIf="!adsData">
    <p>No ads data available.</p>
  </div>
  

  <!-- src/app/components/snapchat-connect/snapchat-connect.component.html -->
<!-- <div>
  <button (click)="connectSnapchat()">Connect to Snapchat</button>
</div>
 -->

<!-- src/app/app.component.html -->

<div class="auth-buttons">
  <button *ngIf="!isAuthenticated" (click)="login()">Login with Snapchat</button>
  <button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
</div>
